body{
    margin: 5px;
    padding: 8px;
}

.price{
    background-color: rgba(9, 123, 223, 0.421);
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    height: 15px;
    position: relative;
    padding: 4px;
    font-size: smaller;
    width: 100px;
    transition: background-color 1s ;
    justify-content: center;

}
.description{
    
    display: flex;
 margin-inline: 10%;
}

.nom{
    border: 1px solid black;
    height: 30px;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    mix-blend-mode: darken;
}
.price:hover{
    background-color: rgba(9, 123, 223, 0.253);
    cursor: pointer;
    border: 1.5px solid black;
    
}

.containerArticle{
    display: flex;
    flex-wrap:wrap ;
    
}

.produitCadre{
    display: flex;
    width: 320px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 20px;
    
    
    

}

.produitCadre:hover{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.buy{
    margin-inline: 20px;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.separation{
    opacity: 1;
    display: flex;
    flex-direction: row;
    
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    
}

nav{
    display: flex;
    flex-direction: row;
}

.pic{
   
    border: 2px solid rgba(0, 0, 255, 0.104);
    transition: all 0.5s;
}

.pic:hover{
    box-shadow: 0 0 11px 4px rgba(5, 255, 247, 0.684);
    transform: scale(1.05);
}
.imageCadre{
    display: flex;
    justify-content: center;
}

.imagecadre2{
    width: 300px;
    margin: 10px;
    
}

.icon-div{
    z-index: 999;
    position: absolute;
    display: flex;
    justify-content: center;
    right: 45%;
    flex-direction: column;
    
}

.icon{
   
    z-index: 9999;

    width: 200px;
    border: 1.5px solid black;
   
    
}

.icon-text{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}

.navbar{
    position: fixed;
    top :0;
    left :0;
    width :100%;
    border: 2px solid blue;
    background-color: rgba(137, 43, 226, 0.81);
    z-index: 999999;
    background-image: url(public/productsPics/imageback.jpg);
    background-position-x: 100%;
}


.navbar.show{
    background-color: rgb(137, 43, 226);
    background-image: url(public/images/imageb.jpg);
    
    
}




.containerArticle{
    margin-top: 100px;
}

.container{
    margin-top: 0%;
}

nav ul {
    display: flex;
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.nav ul {
    display: flex;
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    justify-content: center;
    position: sticky;
    
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    text-decoration: none; 
    color: #000; 
}

li img {
    width: 300px;
}

.col-md-4 img {
  cursor: pointer;
}

.liens{
  display: flex;
  justify-content: center;
  background-color: #484646;
}


.wrapper{
    display: inline-flex;
    transform: scale(0.6);
    
    
  }
  .wrapper .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border: none;
   
  }


  .wrapper .icon span{
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon span i{
    line-height: 60px;
    font-size: 25px;
    
  }
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0px;
    
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span{
    color: #fff;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip:before{
    background: #3B5999;
  }
  .wrapper .twitter:hover span,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip:before{
    background: #46C1F6;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip:before{
    background: #e1306c;
  }
  .wrapper .github:hover span,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip:before{
    background: #333;
  }
  .wrapper .youtube:hover span,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip:before{
    background: #DE463B;
  }



  .body-container{
    margin-inline: 14px;
  }

  .products{
    display: grid;
    gap: 20px;
    justify-content: center;
  }

  .hero-image {
    background-image: url('public/images/black.jpg');
    background-size: cover;
    border: 2px solid steelblue;
    border-radius: 12px;
    background-position: center;
    height: 400px;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
 
    
}

.d-flex img{
border-radius: 20px;
}

.text-center{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: url(public/images/livraison.jpg);
  background-position-x: center;
  background-clip: text;
  color: transparent;
}


.text-center h2{
  font-family: 'Montserrat';
  font-size: 42px;
  font-weight: 900;
  background-image: url(public/images/black.jpg);
  background-position-x: 80%;
  background-clip: text;
  color: transparent;
  box-shadow: 0 4px 20px  rgba(0, 0, 0, 0.2);
}



.logo{
  position: absolute;
  width: 100px;
  border-radius: 15px;
  left: 47%;
  border: 2px solid cadetblue;
  transition: position 2s ease-in-out ,left 2s ease-in-out, opacity 0.5s  ;
  top: 2px;
}

.logo.up{
  position: relative;
  left: 30%;
  opacity: 0.3;
  z-index: -1;
}

.nav-item a:hover{
  opacity: 0.8;

}

.nav-item a{

  border-radius: 10px;
}


.col-md-3 .card{
  background-image: url('public/images/IRT-bg6.jpeg');
  color: aliceblue;
}

.contate{
  opacity: 0.9;
  transition: 0.8s;
}

.contate:hover{
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.contacter{
  
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 900;
    background-image: url(public/images/IRT-bg2.jpeg);
    background-position-y: 60%;
    background-clip: text;
    color: transparent;
    
  
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

    .footer {
      background-color: #343a40;
      color: white;
      padding: 40px 0;
  }
  .footer a {
      color: rgb(220, 154, 154);
  }
  .footer .icon {
      width: 24px;
      height: 24px;
  }
  .footer .social-icons a {
      margin-right: 15px;
  }
  .footer img.article {
      width: 100%;
      transition: transform 0.3s;
  }
  .footer img.article:hover {
      transform: scale(1.05);
  }

  .list-unstyled .icon {
    border: none;
  }



  .card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
    margin: 20px;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.card-body {
    text-align: center;
}

.modal-content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1; 
}

.modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('public/images/produti1.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5; 
  z-index: -1; 
}

.container h1 , p{
  color: #46C1F6;
}